.wrap {
  margin-top: 150px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.cube {
  margin: auto;
  position: relative;
  height: 180px;
  width: 180px;
  transform-style: preserve-3d;
}

.cube > div {
  position: absolute;
  box-sizing: border-box;
  padding: 1px;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background-color: #000;
  border: solid 1px #eeeeee;
  color: #ffffff;
}

.front {
  transform: translateZ(80px);
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}

.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  animation: rotate 20s infinite linear;
}


.button {
    border: none;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-size: 44px;
	border-radius: 8px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


body {
    background-image: url("../Immagini/Immagini_Home/dirt.png");
    background-repeat: repeat;
    background-attachment: fixed;
}



#logo{
float:top;
top:0%; left:-18%;
position:relative;
}


#container{
margin:0 auto;
padding:0;
}

#CUBO1{ /*redstone*/
float:left;
margin-top:40%; left:-45%;
position:relative;
}
#CUBO2{ /*emerald*/
float:left;
top:-8%; left:40%;
position:relative;
}
#CUBO3{ /*gold*/
float:left;
top:-8%; left:-50%;
position:relative;
}
#CUBO4{ /*diamond*/
float:left;
margin-top:-10%; left:90%;
position:relative;
}
/*
#CUBO5{ /*coal
float:left;
margin-top:-60%; left:-115%;
position:relative;
}
#CUBO6{ /*ametista
float:left;
margin-top:-60%; left:70%;
position:relative;
}
#CUBO7{ /*iron
float:left;
margin-top:50%; left:-98%;
position:relative;
}
#CUBO8{ /*coal
float:left;
margin-top:-50%; left:115%;
position:relative;
}
*/


#crazy{
float:left;
margin-top:-40%; left:-5%; 
position:relative;
}


#BottoneR{
float:left;
margin-top:-85%; left:-17%;  
position:relative;
}

#difficolta{
float:left;
margin-top:30%; left:6%; 
position:relative;
}

#normale{
float:left;
margin-top:15%; left:-35%; 
position:relative;
}
#BottoneNORM{
float:left;
margin-top:8%; left:-98%; 
position:relative;
}
#difficile{
float:left;
margin-top:15%; left:11%;  
position:relative;	
}
#BottoneDIFF{
float:left;
margin-top:-16%; left:35%; 
position:relative;
}
#sviluppatore{
float:left;
margin-top:15%; left:55%; 
position:relative;
}
#BottoneSVIL{
float:left;
margin-top:-16%; left:102%; 
position:relative;
}

/*#spade{
float:left;
margin-top:95%; left:55%; 
position:relative;
}*/

/*.fumetto {
	width:150px;
	height:100px;
	background:white;
	position:absolute;
	right:30%; top:70%; 
	width:200px; height:200px;
	border-radius:12px;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
}
	.fumetto:before {
		content:"";
		width:0;
		height:0;
		position:absolute;
		right:100%;
		top:35px;
		border-top:15px solid transparent;
		border-right:30px solid white;
		border-bottom:15px solid transparent;
	}*/